<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Carga de Fav Icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav-icon.jpg') }}" type="image/x-icon">

    <!-- Carga de CSS y JS de Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" defer></script>

    <!-- VueJS js -->
    <script src="{{ url_for('static', filename='js/vue.global.js') }}"></script>

    <!-- Carga de CSS y JS propios -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{{ title }}</title>
</head>
<body class="bg-light">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Se Coloca aqui porque no debe carga antes de Vue y el block de Flask esten cargados -->
    <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>